<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Experts || Responsive HTML 5 Template</title> 

    {% load static %}
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav-icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-16x16.png' %}" sizes="16x16">

 

</head>
<body>

<div class="boxed_wrapper">



<section class="theme_menu stricky">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="main-logo">
                    <a href="index.html"><img src="{% static 'images/logo/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-md-8 menu-column">
                <nav class="menuzord" id="main_menu">
                   <ul class="menuzord-menu">
                        <li><a href="index.html">Home</a></li>

                        <li><a href="#">About us</a>
                        <ul class="dropdown">
                            <li><a href="about.html">About us</a></li>
                            <li><a href="team.html">Meet Our Team</a></li>
                            <li><a href="faq.html">FAQ’s</a></li>
                            <li><a href="testimonials.html">Client Feedback</a></li>
                         </ul>
                        </li>

                        <li><a href="service.html">services</a>
                        <ul class="dropdown">
                            <li><a href="service-1.html">Business Growth</a></li>
                            <li><a href="service-2.html">Sustainability</a></li>
                            <li><a href="service-3.html">Performance</a></li>
                            <li><a href="service-4.html">Advanced Analytics</a></li>
                            <li><a href="service-5.html">Organization</a></li>
                            <li><a href="service-6.html">Customer Insights</a></li>
                         </ul>
                            
                        </li>
                      
                        <li><a href="contact.html">Contact us</a></li>
                    </ul><!-- End of .menuzord-menu -->
                </nav> <!-- End of #main_menu -->
            </div>
            <div class="right-column">
                <div class="right-area">
                    <div class="nav_side_content">
                        <div class="search_option">
                            <button class="search tran3s dropdown-toggle color1_bg" id="searchDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></button>
                            <form action="#" class="dropdown-menu" aria-labelledby="searchDropdown">
                                <input type="text" placeholder="Search...">
                                <button><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                       </div>
                   </div>
                </div>
                    
            </div>
        </div>
                

   </div> <!-- End of .conatiner -->
</section>

<div class="inner-banner text-center">
    <div class="container">
        <div class="box">
            <h3>My Account</h3>
        </div><!-- /.box -->
    </div><!-- /.container -->
</div>




<section class="register-section sec-padd-top">
    <div class="container">
        <div class="row">
            
            <!--Form Column-->
            <div class="form-column column col-lg-6 col-md-6 col-sm-12 col-xs-12">
            
                <div class="section-title">
                    <h3>Login Now</h3>
                    <div class="decor"></div>
                </div>
                
                <!--Login Form-->
                <div class="styled-form login-form">
                    <form method="post" action="{% url 'account:admin_validate' %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                            <input type="email" name="userEmail" value="" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" name="userPassword" value="" placeholder="Enter Password">
                        </div>
                        <div class="clearfix">
                            <div class="form-group pull-left">
                                <button type="submit" class="thm-btn thm-tran-bg" value="submit" onclick="">login now</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
                
            </div>
            
            <!--Form Column-->
            <div class="form-column column col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <div class="section-title">
                    <h3>Register Now</h3>
                    <div class="decor"></div>
                </div>
                
                <!--Login Form-->
                <div class="styled-form register-form">
                    <form method="post" action="{% url 'account:registerA' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-user"></span></span>
                            <input type="text" name="cname" value="" placeholder="Company Name">
                        </div>
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-envelope-o"></span></span>
                            <input type="email" name="cemail" value="" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" name="cpass" value="" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                            <input type="password" name="ccpass" value="" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <span class="adon-icon"><span class="fa fa-unlock-alt"></span></span>
                            <label class="radio-inline"><input type="radio" value="big" name="ctype">Border</label>
                            <label class="radio-inline"><input type="radio" value="small" name="ctype">Local</label>
                        </div>
                        <div class="clearfix">
                            <div class="form-group pull-left">
                                <button type="submit" class="thm-btn thm-tran-bg">Register here</button>
                            </div>
                            <div class="form-group padd-top-15 pull-right">
                                * Free registered user to submit content.  
                            </div>
                        </div>
                        
                    </form>
                </div>
                
            </div>
            
        </div>
    </div>
</section>





<div class="call-out">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <figure class="logo">
                    <a href="index.html"><img src="images/logo/logo2.png" alt=""></a>
                </figure>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="float_left">
                    <h4>Over 20 years of experience we’ll ensure you get the best guidance.</h4>
                </div>
                <div class="float_right">
                    <a href="contact.html" class="thm-btn-tr">Request Quote</a>
                </div>
            </div>
        </div>
                
    </div>
</div>

<footer class="main-footer">
    
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <h3 class="footer-title">About Us</h3>
                                
                                <div class="widget-content">
                                    <div class="text"><p>The Experts consulting over 20 years of experience we’ll ensure you always get the best guidance. We serve a clients at every level of their organization, in whatever capacity we can be most useful, whether as a trusted advisor.</p> </div>
                                    <div class="link">
                                        <a href="#" class="default_link">More About us <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h3 class="footer-title">Our Services</h3>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="service-1.html">Business Growth</a></li>
                                        <li><a href="service-2.html">Sustainability</a></li>
                                        <li><a href="service-3.html">Performance</a></li>
                                        <li><a href="service-4.html">Advanced Analytics</a></li>
                                        <li><a href="service-5.html">Customer Insights</a></li>
                                        <li><a href="service-6.html">Organization</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Big Column-->
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <h3 class="footer-title">Contact us</h3>
                                <div class="widget-content">
                                    <ul class="contact-info">
                                        <li><span class="icon-signs"></span>22/121 Apple Street, New York, <br>NY 10012, USA</li>
                                        <li><span class="icon-phone-call"></span> Phone: +123-456-7890</li>
                                        <li><span class="icon-e-mail-envelope"></span>Mail@Fortuneteam.com</li>
                                    </ul>
                                </div>
                                <ul class="social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget news-widget">
                                <h3 class="footer-title">Newsletter</h3>
                                <div class="widget-content">
                                    <!--Post-->
                                    <div class="text"><p>Sign up today for hints, tips and the <br>latest product news</p></div>
                                    <!--Post-->
                                    <form action="#" class="default-form">
                                        <input type="email" placeholder="Email Address">
                                        <span class="fa fa-envelope"></span>
                                        <button type="submit" class="thm-btn">Subscribe Us</button>
                                    </form>
                                </div>
                                
                            </div>
                        </div>                     
                        
                    </div>
                </div>
                
             </div>
         </div>
     </div>
     
     <!--Footer Bottom-->
     <section class="footer-bottom">
        <div class="container">
            <div class="pull-left copy-text">
                <p>Copyrights © 2017 All Rights Reserved. Powered by  <a href="#"> Connectly.</a></p>
                
            </div><!-- /.pull-right -->
            <div class="pull-right get-text">
                <ul>
                    <li><a href="#">Support |  </a></li>
                    <li><a href="#">Privacy &amp; Policy |</a></li>
                    <li><a href="#"> Terms &amp; Conditions</a></li>
                </ul>
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </section>
     
</footer>

<!-- Scroll Top Button -->
    <button class="scroll-top tran3s color2_bg">
        <span class="fa fa-angle-up"></span>
    </button>
    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- jQuery ui js -->
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- jQuery validation -->
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <!-- mixit up -->
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/menuzord.js' %}"></script>

    <!-- revolution slider js -->
    <script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.video.min.js' %}"></script>

    <!-- fancy box -->
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/jquery.polyglot.language.switcher.js' %}"></script>
    <script src="{% static 'js/nouislider.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'js/SmoothScroll.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/imagezoom.js' %}"></script> 
    <script src="{% static 'js/bxslider.js' %}"></script> 
    <script id="map-script" src="{% static 'js/default-map.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</div>
    
</body>
</html>