<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Experts || Responsive HTML 5 Template</title> 

    {% load static %}
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/fav-icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'images/fav-icon/favicon-16x16.png' %}" sizes="16x16">

 

</head>
<body>

<div class="boxed_wrapper">


<div class="inner-banner text-center">
    <div class="container">
        <div class="box" style="background-color: #E3F8FF; border: 10px solid #48c7ec; border-top: none;">
            <h3>{{company}}</h3>

        </div><!-- /.box -->
        <div class="breadcumb-wrapper">
            <div class="clearfix">
                <div class="pull-left">
                    <ul class="list-inline link-list">
                        <li><a href="#">Company Information</a></li>
                        <li>Shipping Information<a href="#"></a></li>
                      <!--   <li><a href="#">Link Accounts</a></li> -->
                        <li style="color:black;">Review</li>
                    </ul>
                </div>
                <div class="pull-right">
                    <a href="#" class="get-qoute"><i class="fa fa-times"></i>Skip</a>
                </div><!-- /.pull-right -->
            </div><!-- /.container -->
        </div>
    </div><!-- /.container -->
</div>
            

<section class="register-section sec-padd-top">
    <div class="container">
        <div class="row">
            
            <!--Form Column-->
            <div class="form-column column col-md-12 col-sm-12 col-xs-12">
            <div class="text-center">
                            <h1>Account Review</h1>
                        </div>
                
                <!--Login Form-->
                <div class="styled-form login-form">
                        <form class="well form-horizontal" action="{% url 'account:b_dash' company.id %}" method="post"  id="contact_form">
                        {% csrf_token %}
                        
                    <fieldset>

                    <legend>Contact Info</legend>

                    <!-- Text input-->


                    <div class="form-group">
                      <label class="col-md-5 control-label">First Name:</label> 
                      <label class="control-label">{{company.contact_fname}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Last Name:</label> 
                      <label class="control-label">{{company.contact_lname}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Phone:</label> 
                      <label class="control-label">{{company.phone}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Address:</label> 
                      <label class="control-label">{{company.street_address}}</label>  
                    </div>
                        
                    <div class="form-group">
                      <label class="col-md-5 control-label">City:</label> 
                      <label class="control-label">{{company.city}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">State:</label> 
                      <label class="control-label">{{company.state}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Zip:</label> 
                      <label class="control-label">{{company.zipcode}}</label>  
                    </div>

                    <!-- Form Name -->
                    <legend>Service Fees</legend>

                    <!-- Text input-->

                    <div class="form-group">
                      <label class="col-md-5 control-label">Free Time:</label> 
                      <label class="control-label">{{company.free_time}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Stop Charges:</label> 
                      <label class="control-label">{{company.stop_charges}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Exam Stop:</label> 
                      <label class="control-label">{{company.exam_stop}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Fuel Surcharge:</label> 
                      <label class="control-label">{{company.fuel_surcharge}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Storage Dry:</label> 
                      <label class="control-label">{{company.storage_dry}}</label>  
                    </div>

                    <div class="form-group">
                      <label class="col-md-5 control-label">Storage Cold:</label> 
                      <label class="control-label">{{company.storage_cold}}</label>  
                    </div>

                    <!-- Select Basic -->
                       
                    <div class="form-group">
                      <label class="col-md-5 control-label">Zip Codes Serviced:</label> 
                      <label class="control-label">
                      {% for i in company.zip_service.all %}
                      <span>{{i.zipcode}}, </span>
                      {% endfor %}
                      </label>  
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                      <label class="col-md-4 control-label"></label>
                      <div class="col-md-4">
                        <button type="submit" class="btn btn-primary" >Finished</button>
                      </div>
                    </div>

                </fieldset>
                </form>
                </div>
                
            </div>
            
        </div>
    </div>
</section>


     <!--Footer Bottom-->
     <section class="footer-bottom">
        <div class="container">
            <div class="pull-left copy-text">
                <p>Copyrights © 2017 All Rights Reserved. Powered by  <a href="#"> Connectly.</a></p>
                
            </div><!-- /.pull-right -->
            <div class="pull-right get-text">
                <ul>
                    <li><a href="#">Support |  </a></li>
                    <li><a href="#">Privacy &amp; Policy |</a></li>
                    <li><a href="#"> Terms &amp; Conditions</a></li>
                </ul>
            </div><!-- /.pull-left -->
        </div><!-- /.container -->
    </section>
     
</footer>

<!-- Scroll Top Button -->

    <!-- pre loader  -->
    <div class="preloader"></div>


    <!-- jQuery js -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- jQuery ui js -->
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <!-- owl carousel js -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- jQuery validation -->
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>

    <!-- mixit up -->
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'js/menuzord.js' %}"></script>

    <!-- revolution slider js -->
    <script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.carousel.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.parallax.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/revolution.extension.video.min.js' %}"></script>

    <!-- fancy box -->
    <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/jquery.polyglot.language.switcher.js' %}"></script>
    <script src="{% static 'js/nouislider.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'js/SmoothScroll.js' %}"></script>
    <script src="{% static 'js/jquery.appear.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider.js' %}"></script>
    <script src="{% static 'js/imagezoom.js' %}"></script> 
    <script src="{% static 'js/bxslider.js' %}"></script> 
    <script id="map-script" src="{% static 'js/default-map.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</div>
    
</body>
</html>